{% extends 'players/base.html' %}

{% load static %}

{% block body %}
<style>
    .margin {
        height: 20px;
    }
    #search-pad {
        display: flex;
    }
    #search-pad > * {
        margin: 5px;
    }
    #search-pad > div > * {
        width: 100%;
    }
    .images {
        text-align: center;
        margin-top: 20px;
    }
    .images > div {
        width: 48%;
        display: inline-block;
        margin-top: 30px;
    }
    .images img {
        width: 100%;
    }
    table {
        border-collapse: collapse;
    }
    td, th {
        border: 1px solid white;
        padding: 0px 7px;
        text-align: center;
    }
    thead {
    }
    thead th {
        top: -1px;
        background-color: rgb(35, 148, 175);
        padding: 10px 7px;
        color: white;
        text-align: center;
        border: 1px solid rgb(35, 148, 175);
    }
    tbody tr:nth-child(even) {
        background: linear-gradient(white, rgb(236, 248, 251), white);
    }
    tbody td {
        text-align: center;
    }
    .tb-cont {
        height: 300px;
        overflow-x: auto;
    }
    .caption, .images p {
        font-weight: bold;
        font-size: 18px;
        margin: 3px;
    }
</style>
<div class="margin"></div>
<h1 class="title">Search NBA Players</h1>
<div id="search-pad">
    <div>
        <label>player name:</label>
        <input type="text" placeholder="player name" id="player-name" value="{{ playername }}">
    </div>
    <div>
        <label>player position:</label>
        <input type="text" placeholder="position" id="player-position" value="{{ position }}">
    </div>
    <div>
        <label>player team:</label>
        <input type="text" placeholder="team name" id="player-team" value="{{ team }}">
    </div>
    <button id="search-button">Search</button>
    <button id="clear-button">Clear</button>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?playername={{playername}}&position={{position}}&team={{team}}&&page=1">&laquo; first</a>
            <a href="?playername={{playername}}&position={{position}}&team={{team}}&&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?playername={{playername}}&position={{position}}&team={{team}}&&page={{ page_obj.next_page_number }}">next</a>
            <a href="?playername={{playername}}&position={{position}}&team={{team}}&&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<div style="width: 100%; overflow-x: auto;">
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th style="width: 300px;">name</th>
                <th>position</th>
                <th>team</th>
                <th>G</th>
                <th>GS</th>
                <th>MP</th>
                <th>FG</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>3P</th>
                <th>3PA</th>
                <th>3P%</th>
                <th>2P</th>
                <th>2PA</th>
                <th>2P%</th>
                <th>eFG%</th>
                <th>FT</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>ORB</th>
                <th>DRB</th>
                <th>TRB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</th>
                <th>TOV</th>
                <th>PF</th>
                <th>PTS</th>
            </tr>
        </thead>
        <tbody>
            {% for player in page_obj %}
            <tr>
                <td>
                    <a href="{% url 'playerdelete' pk=player.pk %}">Del</a>
                    <a href="{% url 'playeredit' pk=player.pk %}">Edit</a>
                </td>
                <td>{{ player.name }}</td>
                <td>{{ player.pos }}</td>
                <td>{{ player.tm }}</td>
                <td>{{ player.g }}</td>
                <td>{{ player.gs }}</td>
                <td>{{ player.mp_per_game }}</td>
                <td>{{ player.fg_per_game }}</td>
                <td>{{ player.fga_per_game }}</td>
                <td>{{ player.fg_percent }}</td>
                <td>{{ player.x3p_per_game }}</td>
                <td>{{ player.x3pa_per_game }}</td>
                <td>{{ player.x3p_percent }}</td>
                <td>{{ player.x2p_per_game }}</td>
                <td>{{ player.x2pa_per_game }}</td>
                <td>{{ player.x2p_percent }}</td>
                <td>{{ player.e_fg_percent }}</td>
                <td>{{ player.ft_per_game }}</td>
                <td>{{ player.fta_per_game }}</td>
                <td>{{ player.ft_percent }}</td>
                <td>{{ player.orb_per_game }}</td>
                <td>{{ player.drb_per_game }}</td>
                <td>{{ player.trb_per_game }}</td>
                <td>{{ player.ast_per_game }}</td>
                <td>{{ player.stl_per_game }}</td>
                <td>{{ player.blk_per_game }}</td>
                <td>{{ player.tov_per_game }}</td>
                <td>{{ player.pf_per_game }}</td>
                <td>{{ player.pts_per_game }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="images">
    <h3>2D Clustering Result</h3>
    <div>
        <div class="caption">Outside Forward Swingman</div>
        <div class="tb-cont">
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>label</th>
                        <th>2P - 3P</th>
                        <th>AST</th>
                    </tr>
                </thead>
                <tbody>
                    {% for label in labels %}
                    {% if label.pos == 'Outside Forward Swingman' %}
                    <tr>
                        <td>{{ label.name }}</td>
                        <td>{{ label.label }}</td>
                        <td>{{ label.v0 }}</td>
                        <td>{{ label.v1 }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <img src="{% static 'players/2分命中数 - 3分命中数，助攻数(2P - 3P, AST).png' %}">
    </div>
    <div>
        <div class="caption">Inside Forward Swingman</div>
        <div class="tb-cont">
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>label</th>
                        <th>2P - 3P</th>
                        <th>RB + BLK</th>
                    </tr>
                </thead>
                <tbody>
                    {% for label in labels %}
                    {% if label.pos == 'Inside Forward Swingman' %}
                    <tr>
                        <td>{{ label.name }}</td>
                        <td>{{ label.label }}</td>
                        <td>{{ label.v0 }}</td>
                        <td>{{ label.v1 }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <img src="{% static 'players/2分命中数 - 3分命中数，篮板 + 盖帽(2P - 3P, RB + BLK).png' %}">
    </div>
    <div>
        <div class="caption">3D Guards</div>
        <div class="tb-cont">
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>label</th>
                        <th>3P</th>
                        <th>DWS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for label in labels %}
                    {% if label.pos == '3D Guards' %}
                    <tr>
                        <td>{{ label.name }}</td>
                        <td>{{ label.label }}</td>
                        <td>{{ label.v0 }}</td>
                        <td>{{ label.v1 }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <img src="{% static 'players/三分命中数，高阶防守贡献率(3P, DWS).png' %}">
    </div>
    <div>
        <div class="caption">3P Shooter Guards</div>
        <div class="tb-cont">
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>label</th>
                        <th>3P</th>
                        <th>3P%</th>
                    </tr>
                </thead>
                <tbody>
                    {% for label in labels %}
                    {% if label.pos == '3P Shooter Guards' %}
                    <tr>
                        <td>{{ label.name }}</td>
                        <td>{{ label.label }}</td>
                        <td>{{ label.v0 }}</td>
                        <td>{{ label.v1 }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <img src="{% static 'players/三分进球数，三分命中率(3P, 3P%).png' %}">
    </div>
    <div>
        <div class="caption">Terminated Guards</div>
        <div class="tb-cont">
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>label</th>
                        <th>2P</th>
                        <th>2P%</th>
                    </tr>
                </thead>
                <tbody>
                    {% for label in labels %}
                    {% if label.pos == 'Terminated Guards' %}
                    <tr>
                        <td>{{ label.name }}</td>
                        <td>{{ label.label }}</td>
                        <td>{{ label.v0 }}</td>
                        <td>{{ label.v1 }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <img src="{% static 'players/两分进球数，两分命中率.png' %}">
    </div>
    <div>
        <div class="caption">Spatial Center</div>
        <div class="tb-cont">
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>label</th>
                        <th>AST</th>
                        <th>3P</th>
                    </tr>
                </thead>
                <tbody>
                    {% for label in labels %}
                    {% if label.pos == 'Spatial Center' %}
                    <tr>
                        <td>{{ label.name }}</td>
                        <td>{{ label.label }}</td>
                        <td>{{ label.v0 }}</td>
                        <td>{{ label.v1 }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <img src="{% static 'players/助攻，三分命中数(AST, 3P).png' %}">
    </div>
    <div>
        <div class="caption">Almighty_Forwards</div>
        <div class="tb-cont">
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>label</th>
                        <th>2P - 3P</th>
                        <th>AST</th>
                    </tr>
                </thead>
                <tbody>
                    {% for label in labels %}
                    {% if label.pos == 'Almighty_Forwards' %}
                    <tr>
                        <td>{{ label.name }}</td>
                        <td>{{ label.label }}</td>
                        <td>{{ label.v0 }}</td>
                        <td>{{ label.v1 }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <img src="{% static 'players/高阶进攻贡献率，高阶防守贡献率(OWS, DWS).png' %}">
    </div>
    <h3 style="border-top: 1px solid rgb(35, 148, 175); padding-top: 20px;">3D Clustering Result</h3>
    <div>
        <img src="{% static 'players/3d/助攻，得分，三分命中率(平面）.png' %}">
        <p>Combo guards(2D)</p>
    </div>
    <div>
        <img src="{% static 'players/3d/助攻，得分，三分命中率(立体）.png' %}">
        <p>Combo guards(3D)</p>
    </div>
    <div>
        <img src="{% static 'players/3d/得分，篮板，助攻(平面）.png' %}">
        <p>Trible double players(2D)</p>
    </div>
    <div>
        <img src="{% static 'players/3d/得分，篮板，助攻(立体）.png' %}">
        <p>Trible double players(3D)</p>
    </div>
    <div>
        <img src="{% static 'players/3d/罚球出手数，得分，两分+三分命中数(平面）.png' %}">
        <p>Foul-catching players(2D)</p>
    </div>
    <div>
        <img src="{% static 'players/3d/罚球出手数，得分，两分+三分命中数(立体）.png' %}">
        <p>Foul-catching players(3D)</p>
    </div>
    <div>
        <img src="{% static 'players/3d/罚球命中率，两分命中率，两分得分（平面）.png' %}">
        <p>Rough players(2D)</p>
    </div>
    <div>
        <img src="{% static 'players/3d/罚球命中率，两分命中率，两分得分（立体）.png' %}">
        <p>Rough players(3D)</p>
    </div>
</div>
{% endblock %}